[
  {kernel,
  [ {logger_level, all},
    {logger,
      [{handler, default, logger_std_h, #{level => notice}},
       {handler, debug, logger_std_h,
        #{ filters => [{debug,{fun logger_filters:level/2, {stop, neq, debug}}}],
           config => #{ file => "log/erlang.log",
                      modes => [append],
                      max_no_files => 1},
           formatter => {logger_formatter,
            #{ template => ["Topic: ", mfa, " ", time, " ", msg,"\n"] }}
         }
        }
      ]
    }
  ]},

  {erlog, []}
].
